.container {
  display: flex;
  justify-content: space-between;
  margin-top: 30px;
  padding-left: 10px;
  padding-bottom: 30px;
  border-bottom: 1px solid #e0e0e0;
}

.link {
  color: blue;
}

.link:hover {
  color: lightblue;
}

.code {
  margin-top: 10px;
  margin-bottom: 10px;
}

.gateLinks {
  display: flex;
  flex-direction: column;
  margin-right: 50px;
}
.linkItem {
  margin-bottom: 10px;
}
